<!DOCTYPE html>
<html>
<head>
    <title>Seat Assignment</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="form-container">
    <form id="seatAssignmentForm">
        <label for="selected_hall">Select Hall:</label>
        <select id="selected_hall" name="selected_hall">
            <option value="TLT">TLT</option>
            <option value="FLT">FLT</option>
        </select>
        <label for="selected_pattern">Select Pattern:</label>
        <select id="selected_pattern" name="selected_pattern">
            <option value="Checkerboard">Checkerboard</option>
            <option value="Zigzag">Zigzag</option>
        </select>
        <button type="submit">Submit</button>
    </form>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    </script>
</body>
</html>
